

button{
    border: none;
}

.container{
    
}
.topContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoCadastrar{
    background: #016630;
    border-radius: 0.5rem;
}

.botaoCadastrar div{
    color: #ffffff;

    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}