.layout {
  display: flex;
}

.empresasContainer {
  width: 100%;
}

.topo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.voltar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tabelaBox {
  overflow: auto;
}
