.painel h1 {
  margin-bottom: 5px;
  color: #0f6d3a;
}

.sub {
  color: #4A5565;
  font-weight: 600;
  margin-bottom: 20px;
}

/* WRAPPER */
.cardsWrapper {
  position: relative;
  width: 100%;
}

/* CONTAINER COM SCROLL */
.cardsContainer {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 15px 12px;
  margin-top: -15px;
  margin-bottom: -15px;

  scroll-behavior: smooth;
  scrollbar-width: none;
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}

/* CARDS */
.cards {
  display: flex;
  gap: 16px;

  flex-wrap: nowrap;
  width: max-content;
}

/* SETA */
.setaScroll {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #0f6d3a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 0;
  animation: pulse 1.5s infinite;
  transition: background 0.3s ease;
}

.setaScroll:hover {
  background: #0a4d29;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
  }

  50% {
    transform: translateY(-50%) scale(1.08);
  }

  100% {
    transform: translateY(-50%) scale(1);
  }
}

/* ALERTAS */
.alertas {
  width: 40%;
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.09);
}

.alertas h3{
  color: #0f6d3a ;
}

.alertVermelho {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #FFC9C9;
}

.alertAmarelo {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #FFF085;
}

.alertAzul {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #BEDBFF;
}

.redAlert {
  background: #fdecea;
  color: #c0392b;
}

.yellowAlert {
  background: #fff8e5;
  color: #b7950b;
}

.blueAlert {
  background: #eaf3fb;
  color: blue;
}

.alertContent {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.icon {
  font-size: 20px;
}

.vermelhoTitulo {
  color: #A5151F;
  font-weight: 600;
  font-size: 1rem;
}

.amareloTitulo {
  color: #B38A53;
  font-weight: 600;
  font-size: 1rem;
}

.azulTitulo {
  color: #2244BB;
  font-weight: 600;
  font-size: 1rem;
}

.vermelhoSubtitulo {
  color: #ED434B;
  font-weight: 600;
  font-size: 0.8rem;
}

.amareloSubtitulo {
  color: #E4BA64;
  font-weight: 600;
  font-size: 0.8rem;
}

.azulSubtitulo {
  color: #6293FD;
  font-weight: 600;
  font-size: 0.8rem;
}