.painel h1 {
  margin-bottom: 5px;
  color: #0f6d3a;
}

.painel p {
  color: #0f6d3a;
}

.sub {
  color: gray;
  margin-bottom: 20px;
}

/* WRAPPER */
.cardsWrapper {
  position: relative;
  width: 100%;
}

/* CONTAINER COM SCROLL */
.cardsContainer {
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  padding-bottom: 10px;

  scroll-behavior: smooth;

  scrollbar-width: none;
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}

/* CARDS */
.cards {
  display: flex;
  gap: 15px;

  flex-wrap: nowrap;
}

/* SETA */
.setaScroll {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #0f6d3a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 0;
  animation: pulse 1.5s infinite;
  transition: background 0.3s ease;
}

.setaScroll:hover {
  background: #0a4d29;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
  }

  50% {
    transform: translateY(-50%) scale(1.08);
  }

  100% {
    transform: translateY(-50%) scale(1);
  }
}

/* ALERTAS */
.alertas {
  width: 40%;
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.09);
}

.alert {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
}

.alert p {
  font-weight: bold;
}

.alert span {
  font-size: 13px;
}

.redAlert {
  background: #fdecea;
  color: #c0392b;
}

.yellowAlert {
  background: #fff8e5;
  color: #b7950b;
}

.blueAlert {
  background: #eaf3fb;
  color: blue;
}

.alertContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
}

.vermelho {
  color: #c0392b;
}

.amarelo {
  color: #b7950b;
}

.azul {
  color: blue;
}